name = "employee-db-swift-soft"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat"]
pages_build_output_dir = ".vercel/output/static"

[[d1_databases]]
binding = "DB"
database_name = "employee-db"
database_id = "local-db-id" # Placeholder for local dev
